@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*Primary & Secondary*/
  --clr-primary: hsl(239, 90, 61, 100%);
  --clr-primary-outlined: hsl(239, 90, 61, 100%);
  /*Primary & Secondary*/

  /* hover, active*/
  --clr-primary-eff: hsl(239, 74, 46, 100%);
  --clr-primary-outlined-eff: hsl(239, 74, 46, 100%);
  --transition-duration: ease-in 150ms;
  /* hover, active*/

  /* Background Primary */
  --bg-primary: hsl(0, 0, 100%, 95%);
  /* Background Primary */

  /* Neutral */
  --clr-grey-light: hsl(0, 0, 95, 100%);
  --clr-blue-light: hsl(240, 90, 96, 100%);
  /* Neutral */

  /* Neutral (hover,active,focus) */
  --clr-grey-light-hover: hsl(0, 0, 95, 100%);
  --clr-grey-light-active: hsl(0, 0, 89, 10%);
  --clr-blue-light-hover: hsl(240, 93, 94, 100%);
  --clr-blue-light-active: hsl(239, 90, 88, 100%);
  /* Neutral (hover,active,focus) */

  /*Form*/
  --input-bg: hsl(0, 0, 85, 95%);
  /*Form*/
}

/* ==== Reset ==== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* ==== Reset ==== */

/* ==== Typography ==== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}
.small-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: 0.812rem;
}

/* ==== Typography ==== */

/* ==== Grid ==== */
#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5rem 1fr auto;
}

/* ==== Grid ==== */

/* Wrappers for element s which Layout render */
.header-wrapper {
}

.footer-wrapper {
}
.block-wrapper {
}
/* Wrappers for elements which Layout render */

/* Wrappers for content dependent of components */
.app-wrapper {
  max-width: 90%;
  width: 100%;
}
.about-wrapper {
  max-width: 100%;
  padding-inline: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-wrapper {
    width: 80%;
  }
}
@media screen and (min-width: 500px) {
  .about-wrapper {
    padding-inline: 0;
  }
}
@media screen and (min-width: 1024px) {
  .about-wrapper {
    width: 80%;
  }
}

@media screen and (min-width: 1300px) {
  .about-wrapper {
    width: 70%;
  }
}

.wrapper {
}
/* Wrappers for content dependent of components */

@media screen and (min-width: 1024px) {
  .lovha-team {
    height: 65vh;
  }
}

@media screen and (min-width: 1300px) {
  .lovha-team {
    height: 75vh;
  }
}

@media screen and (min-width: 1500px) {
  .lovha-team {
    height: 90vh;
  }
}
