@tailwind base;
@tailwind components;
@tailwind utilities;

/* .barlow-condensed-regular {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-mono mn {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}
.small-test {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5rem 1fr 5rem;
}

/* Wrappers for max-width */
.header-wrapper {
}
.navbar-wrapper {
}
.main-wrapper {
}
.footer-wrapper {
}
.wrapper {
}
/* Wrappers for max-width */
